.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181A18;
  }
  
  .loginTitle {
    font-size: 50px;
    color: white;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
    color: white;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }


  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(255, 214, 199);
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }