.posts{
    flex: 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a:hover{ 
    text-decoration: none;
}
.AllBlog{
    display: flex;
    justify-content:center;
    align-items:center;
    transform: translateY(4px);
}
.Blog-But{
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    font-weight:bolder;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.722);
}
.Blog-But:active{
    position: relative;
    top:4px;
    box-shadow: none;
}
.Arrow{
    font-size: 30px;
    margin: 4px 0 0;
    font-weight:bolder;
}