.top {
  z-index: 99;
  margin-top: 0;
  position: sticky;
  top: 0;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  align-self: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 47%;
  position: sticky;
  font-size: xx-large;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

.topListItem:hover {
  color: gray;
  text-decoration: none;
  border-bottom: 2px solid gray;
}
.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}
.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.text-white.justify-content-center{
    background-color: #001329;
    margin: 0;
   height: 6em;
   display: flex;
  
   align-items: center;
    
}

@media (max-width: 990px) {
  .wlcmtxt {
    display: none;
  }
  .navbar-brand {
    left: 50%;
  }
}
