.settings {
    display: flex;
    background-color: black;
  }
  
  .settingsWrapper {
    flex: 9;
    padding: 20px;
  }
  
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settingsTitleUpdate {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
  }
  
  .settingsTitleDelete {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
  
  .settingsForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 520px;
    height: 18rem;
    color: white;
    background-color: rgba(24, 23, 22);
    border-radius: 10px;
    border: 3px solid rgb(94, 93, 92);
  }
  .field{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 380px;
  }
  
  .settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .settingsPP > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
  }
  
  .settingsPPButton:focus {
    outline-style: none;
  }
  
  .settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .settingsPPInput {
    width: 30%;
  }
  
  .settingsForm > input {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: blue 1px solid;
    border-bottom: 1px solid lightgray;
  }
  
  .settingsSubmitButton {
    align-self: center;
    border-radius: 10px;
    color: white;
    background-color: blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settingsSubmitButton:hover {
    background-color: green;
  }