.post {
   max-width: 22em;
    margin: 35px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    height: auto;
     padding: 1em;
  }
  
  .postImg {
    object-fit: cover;
    border-radius: 7px;
  }
  
  .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0);
    gap: 0.5em;
  }
  
  .postCat {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #be9656;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  .post:hover{
    transform: scale(1.02)   translateY(0) !important;
    background-color: black;
    box-shadow: 0 0 10px white;
    color: white;
    height: auto;
  }
  .post:hover .postInfo{
      transform:translateY(0px);
  }
  
  .postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
   padding: 0.3em;
   text-align: center;
    cursor: pointer;
    color: blue;
  }
  
  .postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: red;
    margin-top: 5px;
  }
  
  .postDesc {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .link_{
      margin-bottom: 0.5em;
  }